[Unit]
Description=Run XiceMCServer daily backup and update warning at 15:50

[Timer]
OnCalendar=*-*-* 15:50:00
Persistent=true
Unit=xicemc-maintenance.service

[Install]
WantedBy=timers.target
