[Unit]
Description=Run XiceMCServer daily backup and update at 16:00

[Timer]
OnCalendar=*-*-* 16:00:00
Persistent=true
Unit=xicemc-maintenance.service

[Install]
WantedBy=timers.target
